@media only screen and (min-width: 768px){

    main{
        display: grid;
        grid-template-areas: "header header"
                             "box1   box2"
                             "box3   box3"
                             "footer footer";

        }
    
    h1{
        font-size: 4em;
        
    }
    h4{
        font-size: 2.5em;
    }
    header{
        border:solid rgba(244, 165, 96, 0.979) 2px ;
    }

    h2{
        font-size: 3em;
        
    }
    h5{
        font-size: 2em;
    }
    a{
        font-size: 1.5em;
    }
    p{
       
        font-size: 1.5em;
       
     
        
    }
    .images-div{
        width: 95%;
        padding: .2em;
        margin: 0 auto;
    }
    img{
        width: 100%;
    }
  
       

}