#content{
   background-color: rgb(226, 216, 230);
   text-align: center;
   display: grid;
   grid-template-areas:"header"
                        "box1"
                        "box2"
                        "box3"
                        "footer"
    
}

header{
    grid-area: header;
    background-color: rgb(57, 29, 74);
    color: rgb(253, 249, 254);
    padding: 0.3em;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
}


.box1{
    grid-area: box1;
    
}

.box2{
    grid-area: box2;
}

.box3{
    grid-area: box3;
}



.box1,.box2,.box3{
    background-color: rgba(48, 35, 58, 0.884);
    color: rgb(238, 232, 243);
    margin: 0.2em;
    margin-bottom: 1em;
}

h2{
    background-color: rgba(255, 255, 255, 0.877) ;
    color: black;
    margin:0 auto;
    text-align: left;
    padding: 1em 1em;
    font-family: 'Josefin Sans', sans-serif;
}
h4{
    color: white;
    font-size: larger;
    font-family: 'Source Code Pro', monospace;
}
h5 {
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    font-size: larger;
    font-family: 'Source Code Pro', monospace;
}
a{  display: flex;
    justify-content: flex-start;
    color: blanchedalmond;
    padding: 1em;
    margin: 0 auto;
    
}

img{
    width: 95%;
    margin: 0 auto;
    }

p{
    padding: 1em;
    text-align: start;
    font-family: 'Josefin Sans', sans-serif;
}
footer{
   
    grid-area: footer;
    color:blanchedalmond;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 1em;
    font-size: small;
}