@media only screen and (min-width: 32.5em) {
    header {
        margin: 0 auto;
        width: 100%;
    }

    .logo img {
        width: 100%;
    }

    h1 {

        color: #B6C1C4;
    }

    nav {
        width: 100%;
        font-size: 1.5em;
        flex-direction: row;

    }

    nav div {

        flex: 1 1 auto;
    }



    nav a {
        font-size: 1em;
    }

    main {
        margin: 0 auto;
        display: flex;
    }

    .main-design {
        display: block;
    }

    p {
        padding: 2em;
    }

    article p {
        padding-top: 0;
        text-align: left;
    }

}