@media only screen and (min-width: 1024px){ 
    nav button{
        display: none;
    }

   header{
    position: relative;
   }

    }
    #naver{
        display: flex;
        background-color: aqua;
        top: 15%;
        right: 12%;
        position: absolute;
        flex-direction: row;
        background-color: transparent;
        font-size: .7em;
       
    }
    
   
    header ul li a{
        padding: 1em;
    }

    
    header ul li a:hover{
        background-color: transparent;
        color: #adecfd;
        text-shadow: 4px 4px 12px rgb(220, 248, 251);
    }

    div .social{
        right: 2%;
    }
  



    /*main*/

    main{
        
        grid-template-areas: "event     hero   hero   section-spots"
                             "weather  hero   hero   section-spots"
                             "join      news   news   section-spots";
    }

  
   

    #hero{     
        background-color: rgba(2, 2, 2, 0.6);
        align-self: center;
    }

        
    #hero h2{
        font-size: 3em;
        text-shadow: rgb(0, 0, 0) 0px 4px 40px;
    }
    #hero button{
        font-size: 1.3em;
    }
    #hero img{
        width: 100%;
        object-fit: contain;
      
    }
   
       
 
    .event{
        width:40%;
        margin-left: 0;
        text-align: center;
       }
    
    .event h3{
          width:100%;
        }


    h6.active{
        font-size: 1em;
    }

   
    
    div.section-spots .soptlight3{
        display: block;
       }
   .soptlight2{
    font-size: 1.3em;
   }
   .soptlight1{
    font-size: 1em;
   }
  
    .soptlight3{
        padding: 1em;
        font-size: 1em;
        height: auto;
        width: auto;
        text-align:center;
        background-color: rgb(21, 72, 108);
        color: #adecfd;
    }

   .soptlight3 p{
        color: coral;
     }

    .soptlight3 p:hover{
        color: rgb(254, 254, 0);
    }
    .weather{
       margin-left:0;
       width: 70%;
       align-items: center;
       justify-content: center;
       margin-top: 0;

    }
    

/*footer*/

.rights{
    display: flex;
    justify-content: center;
}
.rights hr{
    display:none }

.rights h5{
    margin-top: 1em;
    padding: 1em;
    border-right:solid 0.1em rgba(236, 166, 13, 0.749);
}

div.info-footer h4{
    color: rgba(255, 255, 255, 0.775);
    text-align: center;
    margin: 0 auto;
}
footer{
    font-size: 1.4em;
    margin-top: .2em;
}
}
