
@media (min-width: 576px) {
   
   header{
    font-size: 1.5em;
   }
   header #naver.open li a{
    font-size: 1em;
   }

    button#menuBtn{
        padding: 0;
        color: #00d9ff;
       }
  
    button{
    box-shadow: 2px 3px 35px rgba(38, 155, 213, 0.878);   
    padding:.5em;
    }

    div .logo{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 2em;
    }

    div.social{
        left: 70%;
    }

    div#hero h2{
        font-size: 3.5em;
    }

  
  /*main*/
  

main{
    display: grid;
    grid-template-areas: "hero  hero hero"
                          "news news news"
                          "section-spots section-spots section-spots"                       
                          "join join join"
                          "event event weather";
    grid-gap: 5px;
}

#hero h2{
    font-size: 2.5em;
}

#hero button{
    border-radius: 25px;
    font-size: 1.7em;
}
.weather-section img{
    right: 0rem;
}
.news{
    height: 20em;
    font-size: 1.5em;
    margin: 0;
    padding: 0 4em 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.join{
    display:flex;
    flex-direction: column;
    padding: .5em;
    width: auto;
    height: 250px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #05243f;
    color: white;
    padding-bottom: 3em;
}
.join button{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    border-radius: 20px;
    width: 40%;
    margin: 0 auto;
    
}
.join button:hover{
   background-color: rgba(2, 2, 2, 0.6);
   padding: .6em;
   border-color: greenyellow;
   color: coral;
}

div.section-spots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem;
   
}

.soptlight2{
    flex:1;
    background-color:rgb(85, 177, 188);
    flex-basis: 0;

    display: flex;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}

.soptlight1{
    flex:1;
    flex-basis: 0;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.soptlight1 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.soptlight2 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.soptlight3{
    flex:1;
    flex-basis: 0;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.soptlight3 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.soptlight3 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.soptlight2 button:hover{
    background-color: rgba(2, 2, 2, 0.6);
    padding: .3em;
}

.event{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 0 3em 0 3em;
    margin: 0 auto;
}




/*footer*/

footer{
    display: grid;
    grid-template-areas: " logo info contact"
                          "rights rights rights";
    justify-items: stretch;
    align-items: stretch;

}

footer .logo{ 
    width: 5em;
    grid-area: logo;
    align-self: center;
    margin:0;
    padding: 0;
    
}
.info-footer{
    grid-area: info;
    padding: 1em;
    margin-right: 4em;
    text-align: left;
    align-self: center;
    
}
.info-footer h4{
      margin: .2em;
}
.info-contact{
    grid-area: contact;
    padding: 1em;
}
.info-contact h4{
    margin: .5em;
}
.rights{
    grid-area: rights;

}
.rights h5{
    padding-top: .2em;
    margin: 0;
}

}
