@media only screen and (min-width: 34em){
    
    div .social{
       width: 15%;
    }
    div.headings{
        padding-top: 1em;
        padding-right: 4em;
    }
    button#menuBtn{
        padding: 0;
    }
    header .logo{
        width: 10%;
    }
    button{
    box-shadow: 2px 3px 35px rgba(38, 155, 213, 0.878);   
    padding:.5em;

    }
    nav{
        align-self: center;
    }
    .social a{
        align-self: center;
    }
    
/*main*/

main{
    display: grid;
    grid-template-areas: "hero  hero hero"
                          "news news news"
                          "section-spots section-spots section-spots"                       
                          "join join join"
                          "event event weather";
    grid-gap: 5px;
}

#hero h2{
    font-size: 3em;
}

#hero button{
    border-radius: 25px;
    font-size: 1.7em;
}
#hero button:hover{
    background-color:rgba(1, 52, 74, 0.8);
    border-color: gold;
    padding: .4em;
}

.join{
    display:flex;
    flex-direction: column;
    padding: .5em;
    width: auto;
    height: auto;
    flex-direction: column;
    text-align: center;
    background-color: #05243f;
    color: white;
    text-shadow: #0ec6e7 4px 4px 10px;
    padding-bottom: 3em;
}
.join button{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 20px;
    
}
.join button:hover{
    background-color: rgba(2, 2, 2, 0.6);
   padding: .6em;
   border-color: greenyellow;
    color: coral;
}

.soptlight2 button:hover{
    background-color: rgba(2, 2, 2, 0.6);
    padding: .3em;
}
/*footer*/

footer{
    display: grid;
    grid-template-areas: " logo info contact"
                          "rights rights rights";
    justify-items: stretch;
    align-items: stretch;

}

footer .logo{ 
    width: 5em;
    grid-area: logo;
    align-self: center;
    margin:0;
    padding: 0;
    
}
.info-footer{
    grid-area: info;
    padding: 1em;
    margin-right: 4em;
    text-align: left;
    align-self: center;
    
}
.info-footer h4{
      margin: .2em;
}
.info-contact{
    grid-area: contact;
    padding: 1em;
}
.info-contact h4{
    margin: .5em;
}
.rights{
    grid-area: rights;

}
.rights h5{
    padding-top: .2em;
    margin: 0;
}

}