@media (min-width: 768px) {
    #content {
        max-width: 90%;
        margin: 0 auto;
    }


    body {
        background-color: rgba(0, 0, 0, 0.285);
    }

    header {
        height: 12rem;
    }

    header .Edu {
        align-self: center;
        justify-self: end;
    }



    header .Edu img {
        background-color: aqua;
        border-radius: 20%;
        box-shadow: 21px 21px 41px (rgba(224, 211, 211, 0.977));
    }


    header h1 {
        font-size: 3rem;
        text-align: left;
        margin-left: 2rem;

    }

    body #open {
        display: none;
    }

    nav {
        background-color: rgb(25, 37, 42);
        opacity: 1;
        visibility: visible;
        width: auto;
        flex-direction: row;
        position: relative;
        padding: 0;
        gap: 0;


    }

    .close {
        display: none;
    }

    nav .naver {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;



    }

    nav .naver li {

        flex-grow: 2;
        background-color: rgba(240, 255, 255, 0);
    }

    nav .naver li a {
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0 auto;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
    }

    main .title {
        font-size: 1.5rem;
        grid-column: 1/3;
        margin: 0;
    }

    section {
        margin: 0;
        grid-row: 2/3;
        box-shadow: 4px 6px 12px rgba(37, 42, 54, 0.777);
    }

    .card:nth-of-type(2) h4 {
        padding: 1rem;
    }
}